h1 {
    color: blue;
    text-align: center; 
    text-decoration: underline;
}
h2 {
    color: green;
    font-style: center;
    text-align: center;
}
img{
    height: 240px;
    width: 350px;
}
p {
    font-family: sans-serif;
}
h3{
    color: maroon;
    text-decoration: underline;
}
ul 
line-height: 40px;
}
 /* Types of CSS Selectors 
 1. Element selectors
 2. Attribute selectors
 3. ID Selectors
 4. Psuedo comment selector
 5. ID selectors */

